ul{
    list-style: none;
}
.navbar>nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    
}
.side{
    display: flex;
}
.footer{
    justify-content: center;
}
